{% extends 'layout/layout.html' %}
{% load static %}
{% block content %}
<div class="header">
    <img class="header-img w-100 d-flex align-self-bottom" src="{% static 'img/headerbg.jpg' %}" alt="">
    <div class="header-body bg-transparent text-light">
        {% include 'layout/nav.html' %}
        <div class="header-items  jumbotron pt-2 bg-transparent">
            <h1 class="display-3">Ireri Galery</h1>
            <p class="mb-0">
                Beautiful Photo Galery
            </p>
            <p class="pb-3 mb-0">
                A collection of the best photos taken by various incredible photographers from all over the world
            </p>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control flex-fill mr-4" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
<div class="m-3 img-container card-columns">

    {% for image in images %}

    <div class="d-inline-block card image-box">
        <a href="#{{image.name}}" id="click">
            <img id="{{image.name}}" class="w-100 h-auto img-fluid" src="{{image.image.url}}" alt="Image">
        </a>
    </div>
    {% endfor %}
</div>
<div class="one-image">
    <div class="container p-3 bg-dark text-light">
        <img id="{{images.first.name}}" class="img-fluid modal-img" src="{{images.first.image.url}}" alt="Image">
        <h4>
            {{ images.first.name }}
        </h4>
        <p>
            {{ images.first.description }}
        </p>
        <div>
            {% for category in images.first.categories.all %}
            <button class="btn ">#{{ category.name }}</button>
            {% endfor %}
        </div>
        <div class="d-flex">
            <span>{{ images.first.location }}</span>
            <span>{{ images.first.posted_date }}</span>
        </div>
    </div>
</div>
<div class="overlay"></div>
{% endblock content %}