body {
    background-color: #bbb;
}

.bg-nav {
    background-color: #3a3a3a
}

.header {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.header-body {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
}

.header-items {
    margin: 0 8em;
}

.image-box {
    width: calc(100% /3);
}

.card {
    border-color: none;
}

.one-image {
    position: absolute;
    top: 5%;
    left: 10%;
    height: auto;
    width: 80%;
    z-index: 3;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 300%;
    background-color: rgba(10, 10, 10, 0.7);
}

.modal-img {
    border-radius: 10px;
}

.modal-img-sm {
    max-height: 50vh;
    width: auto;
}

.modal-img-lg {
    height: auto;
    width: 100%;
}

.mod-name {
    color: lightseagreen;
}

.mod-desc {
    color: #aaa
}

.modal-in {}