body {
    background-color: #bbb
}

.header {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.header-body {
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
}

.one-image {
    position: absolute;
}